{% extends "base.html.twig" %}

{% block title %}
    {{ 'login'|trans }}
{% endblock %}

{% block additionalMainElementClasses %}
    {{- 'login' -}}
{% endblock %}

{% block main %}
    {% if error is not null %}
        {% include "common/modules/flash-message.html.twig" with {type: 'error', content: error.messageKey|trans(error.messageData, 'security')} only %}
    {% endif %}
    <form action="{{ path("login_check") }}" method="POST">
        <label for="username">{{ 'username'|trans }}</label>
        <input type="text" required="required" value="{{ last_username }}" name="_username" id="username">

        <label for="password">{{ 'password'|trans }}</label>
        <input type="password" name="_password" required="required" id="password">

        <button type="submit">{{ 'login'|trans }}</button>
    </form>
{% endblock %}