<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/app.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}"/>
    {% if app.request.attributes.get('_route') is not empty and app.request.attributes.get('_route_params') is not empty %}
        <link rel="canonical"
              href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - {{ 'alertSystem'|trans }}</title>
    {% if app.request.attributes.get('_route') is not empty and app.request.attributes.get('_route_params') is not empty %}
        <meta property="og:url"
              content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
    {% endif %}
</head>
<body>
{% spaceless %}
    {% for type, messages in app.session.flashBag.all %}
        {%- if loop.first %}
            <div class="top-overlay">
        {% endif %}
        {% for message in messages %}
            {% include "common/modules/flash-message.html.twig" with {type:type, content:message} only %}
        {% endfor %}
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
{% endspaceless %}
<header class="l-header">
    <div class="logo">
        <img src="{{ asset('build/images/main-logo.png') }}">
        <p>{{ 'alertSystem'|trans }}</p>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <nav role="navigation" class="l-header-horizontal-menu">
            <ul>
                <li><a href="{{ path('homepage') }}">{{ 'homepage'|trans }}</a></li>
                <li>
                    <a href="{{ path('administrators_index') }}">{{ 'administrators'|trans }}</a>
                    <ul>
                        <li>
                            <a href="{{ path('administrators_new') }}">{{ 'newAdministrator'|trans }}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{ path('campaings_index') }}">{{ 'campaigns'|trans }}</a>
                    <ul>
                        <li><a href="{{ path('campaigns_new') }}">{{ 'newCampaign'|trans }}</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('recipients_index') }}">{{ 'recipients'|trans }}</a></li>
                <li>
                    <a href="{{ path('recipient_groups_index') }}">{{ 'recipientGroups'|trans }}</a>
                    <ul>
                        <li><a href="{{ path('recipient_groups_new') }}">{{ 'newRecipientGroup'|trans }}</a></li>
                    </ul>
                </li>
                <li class="no-link">
                    {{ 'loggedInAs'|trans({'%username%': app.user.username}) }}
                    <ul>
                        <li>
                            <a href="{{ path('administrators_show_logs') }}">{{ 'connectionLogs'|trans }}</a>
                        </li>
                    </ul>
                </li>
                <li><a href="{{ path('logout') }}">{{ 'logout'|trans }}</a></li>
            </ul>
        </nav>
    {% endif %}
</header>
<div class="l-main {%- if block('additionalMainElementClasses') is defined %} {{ block('additionalMainElementClasses') }} {%- endif %}">
    <h1>{{ block('title') }}</h1>
    {% block main %}{% endblock %}
</div>
<footer class="l-footer">
    <p>{{ 'realizedBy'|trans }}
        <a href="{{ christopheranciauxgithublink }}" target="_blank">Christopher Anciaux</a> {{ 'and'|trans }}
        <a href="{{ alexandreszymuragithublink }}" target="_blank">Alexandre Szymura</a>
    </p>
</footer>
{% block javascripts %}{% endblock %}
</body>
</html>
